:root {
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --product-desc: #797979;
    --product-back: #979797;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Quicksand', sans-serif;
}

/* Estilos de Creando Contraseña */

.login, .email-sent, .my-account {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.form-container, .info-container {
    display: flex;
    flex-direction: column;
    width: 340px;
}

.logo {
    width: 148px;
    margin: 0 auto 74px;
    /* Desktop */
    display: none;
}

.title {
    font-size: var(--lg);
    text-align: center;
    margin-bottom: 12px;
}

.subtitle {
    font-size: var(--md);
    font-weight: 300;
    color: var(--very-light-pink);
    text-align: center;
    margin-bottom: 42px;
}

.label {
    font-size: var(--sm);
    font-weight: bold;
    text-align: left;
    margin-bottom: 6px;
}

.input {
    background-color: var(--text-input-field);
    width: 100%;
    height: 42px;
    border-radius: 8px;
    font-size: var(--md);
    padding: 13px 8px;
    border: none;
    margin-bottom: 24px;
}

.input--final {
    margin-bottom: 36px;
}

.button {
    width: 100%;
    height: 58px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.button:active {
    border: solid 1px var(--dark);
}

.button--primary {
    font-size: var(--lg);
    font-weight: bold;
    background-color: var(--hospital-green);
    color: var(--white);
}

/* Estilos de Email ha sido Enviado */

.button--final {
    margin-bottom: 32px;
}

.email-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: var(--text-input-field);
    border-radius: 50%;
    /* margin-bottom: 38px; */
    margin: 0 auto 38px;
}

.email-image img {
    width: 90px;
}

.resend {
    font-size: var(--sm);
    text-align: center;
}

.resend span {
    color: var(--dark);
}

.resend a {
    color: var(--hospital-green);
    text-decoration: none;
    padding-left: 4px;
}

.resend a:hover {
    text-decoration: underline;
}

/* Estilos de Login */

.logo-login {
    width: 206px;
    margin: 0 auto 74px;
    /* Desktop */
    display: none;
}

.forgot-pass {
    text-align: center;
    margin-bottom: 58px;
}

.forgot-pass a {
    font-size: var(--md);
    font-weight: 300;
    color: var(--hospital-green);
    text-decoration: none;
}

.forgot-pass a:hover {
    text-decoration: underline;
}

.button--secundary {
    font-size: var(--lg);
    font-weight: bold;
    background-color: var(--white);
    color: var(--hospital-green);
    border: solid 1px var(--hospital-green);
}

/* Estilos de Mi Cuenta */

.title--my-account {
    text-align: left;
    margin-bottom: 48px;
}

/* Estilos de Mi Cuenta Edición */

.data-account {
    height: 42px;
    font-size: var(--md);
    padding: 13px 0;
    margin-bottom: 24px;
    color: var(--very-light-pink);
}

/* Estilos de Página de inicio */

.cards-container {
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(auto-fill, 216px);
    place-content: center;
    gap: 24px;
}

.product-card {
    width: 216px;
    height: auto;
}

.product-image {
    width: 216px;
    height: 216px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* object-fit: cover; */
    border-radius: 18px;
    margin-bottom: 15px;
}

.icon-add-car {
    border-radius: 50%;
    border: solid 1px var(--very-light-pink);
}

.price, .date {
    font-size: var(--md);
    font-weight: bold;
}

.description {
    font-size: var(--sm);
    font-weight: 300;
    color: var(--product-desc);
}

.icon-add-car {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Estilos de Menú en Desktop */

.desktop-menu {
    width: 152px;
    height: auto;
    border: solid 1px var(--very-light-pink);
    border-radius: 8px;
    padding: 0px 25px 0px 25px;
}

.desktop-menu ul {
    list-style: none;
}

.desktop-menu ul li {
    text-align: end;
    padding-top: 20px;
}

.desktop-menu ul li a {
    text-decoration: none;
    color: var(--black);
    font-size: var(--md);
    font-weight: bold;
    display: inline-block;
}

.desktop-menu ul li:last-child {
    border-top: solid 1px var(--very-light-pink);
    padding-bottom: 20px;
}

.desktop-menu ul li:last-child a {
    color: var(--hospital-green);
    font-size: var(--sm);
}

/* Estilos de Menú en Mobile */

.mobile-menu {
    padding: 0 24px;
}

.mobile-menu ul {
    list-style: none;
}

.mobile-menu ul li {
    text-align: start;
    padding-bottom: 38px;
}

.mobile-menu > ul li:first-child {
    padding-top: 38px;
}

.mobile-menu ul li a {
    text-decoration: none;
    color: var(--black);
    font-size: var(--md);
    font-weight: bold;
    display: inline-block;
}

.mobile-menu .email a {
    font-size: var(--sm);
    color: var(--black);
    font-weight: 400;
}

.mobile-menu .email {
    padding-bottom: 6px;
}

.mobile-menu .signout a {
    font-size: var(--sm);
    color: var(--hospital-green);
    font-weight: bold;
}

/* Estilos de My Order */

.my-order, .my-orders {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-order-title, .my-orders-title {
    width: 400px;
    font-size: var(--lg);
    font-weight: bold;
    text-align: start;
    margin-top: 84px;
    margin-bottom: 48px;
}

.my-order-container, .my-orders-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
}

.my-order-content {
    width: 100%;
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px;
    background-color: var(--text-input-field);
    border-radius: 8px;
}

.date {
    margin-bottom: 4px;
}

.shopping-car {
    width: 100%;
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shopping-car > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopping-car > div p {
    margin-left: 18px;
}

.shopping-car img {
    width: 76px;
    height: 76px;
    border-radius: 24px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Estilos de My Orders */

.my-orders-content {
    width: 100%;
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-orders-content .my-orders-price {
    display: flex;
}

.my-orders-content .my-orders-price img {
    padding-left: 24px;
}

/* Estilos de Barra de Navegación */

nav {
    position: fixed;
    width: 100vw;
    height: 54px;
    box-shadow: 0 1px 3px 0px #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.menu {
    display: none;
}

.nav-logo {
    width: 144px;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 54px;
}

.navbar-left ul, .navbar-right ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar-left ul li a {
    text-decoration: none;
    color: var(--very-light-pink);
    font-size: var(--md);
    font-weight: 400;
}

.navbar-left ul li a {
    padding: 6px 13px;
    border: solid 1px var(--white);
}

.navbar-left ul li a:hover {
    color: var(--hospital-green);
    border: solid 1px var(--hospital-green);
    border-radius: 14px;
}

.navbar-right ul li:last-child {
    position: relative;
    margin: 0 52px 0 26px;
}

.navbar-right .navbar-shopping-cart div {
    position: absolute;
    top: -7px;
    right: -9px;
    font-size: 12px;
    font-weight: bold;
    background-color: var(--hospital-green);
    width: 14px;
    height: 14px;
    text-align: center;
    border-radius: 50%;
}

.navbar-right ul li:first-child {
    display: flex;
    align-items: center;
    gap: 8px;
}

.navbar-right ul li:first-child img {
    transform: rotate(90deg);
}

/* Estilos de Detalle del Producto */

.product-detail {
    max-width: 384px;
    height: 100vh;
    position: relative;
}

.product-detail .detail-image {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
}

.product-detail .detail-close {
    width: 42px;
    height: 42px;
    padding: 14px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 18px;
    left: 18px;
    background-color: var(--white);
    border-radius: 50%;
}

.product-detail .detail-close:hover {
    cursor: pointer;
}

.product-detail .detail-pagination {
    width: 32px;
    height: 7px;
    display: flex;
    gap: 6px;
    margin: 16px auto 0;
}

.product-detail .detail-pagination div {
    width: 7px;
    height: 100%;
    background-color: var(--very-light-pink);
    border-radius: 50%;
    opacity: 0.4;
}

.product-detail .detail-pagination div:first-child {
    opacity: 1;
}

.product-info {
    margin: 34px;
}

.product-info p:nth-child(1) {
    font-size: var(--lg);
    color: var(--black);
    font-weight: bold;
    margin-bottom: 6px;
}

.product-info p:nth-child(2) {
    font-size: var(--lg);
    color: var(--dark);
    font-weight: 300;
    margin-bottom: 18px;
}

.product-info p:nth-child(3) {
    font-size: var(--md);
    color: var(--dark);
    font-weight: 300;
    margin-bottom: 38px;
}

.product-info button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

/* Estilos de Carrito de Compra */

.shoppint-cart {
    max-width: 384px;
    height: auto;
    padding: 24px 0px;
}

.shoppint-cart-title{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 24px;
    padding-bottom: 36px;
    padding-left: 18px;
}

.shoppint-cart-title i {
    display: inline-block;
    width: 24px;
    height: 16px;
    background-image: url("./assets/icons/arrow-left.svg");
}

.shoppint-cart-product .price-cart img:hover {
    cursor: pointer;
}

.shoppint-cart-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
}

.shoppint-cart-product {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 18px;
}

.shoppint-cart-product .product-cart {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 18px;
}

.shoppint-cart-product .price-cart {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 24px;
}

.shoppint-cart-product .product-cart img {
    width: auto;
    height: 100%;
    border-radius: 12px;
}

.shoppint-cart-title p {
    font-size: var(--lg);
    font-weight: bold;
    color: var(--black);
}

.shoppint-cart-total-container {
    width: 100%;
    height: 76px;
    padding: 0 18px;
    margin-bottom: 18px;
}

.shoppint-cart-total {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--text-input-field);
    border-radius: 12px;
}

.shoppint-cart-total .total-title {
    padding-left: 18px;
}

.shoppint-cart-total .total-amount {
    padding-right: 18px;
}

.shoppint-cart .shoppint-cart-button-container {
    padding: 0 18px;
}

.shoppint-cart-product:hover {
    background-color: var(--text-input-field);
}

/* Media Queries */

@media (max-width: 425px) {
    .logo, .logo-login {
        display: block;
    }
    .login {
        position: relative;
    }
    .button--bottom-login {
        position: absolute;
        width: inherit;
        bottom: 16px;
    }
    .form-create-account {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: space-between;
        padding-top: 34px;
        padding-bottom: 22px;
    }
    .my-order-title,
    .my-orders-title,
    .product-detail .detail-close,
    .shoppint-cart-title {
        display: none;
    }
    .my-order-title, .my-order-container,
    .my-orders-title, .my-orders-container {
        width: 340px;
    }
    .my-order-content {
        margin-top: 18px;
    }
    .my-orders-content {
        height: 42px;
    }
    .my-orders-container {
        margin-top: 24px;
    }
}

@media (max-width: 640px) {
    /* .product-card {
        width: 163px;
        height: auto;
        gap: 6px;
    }
    .cards-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    } */
    .cards-container {
        grid-template-columns: repeat(auto-fill, 162px);
        gap: 16px;
    }
    .product-card {
        width: 162px;
        height: auto;
    }
    .product-image {
        width: 162px;
        height: 162px;
    }
    .navbar-right ul li:first-child {
        display: none;
    }
    /* .menu {
        display: block;
        margin: 0 18px;
    } */
    .navbar-right ul li:last-child {
        position: relative;
        margin: 0 18px;
    }
}

@media (max-width: 1120px) {
    .navbar-left ul {
        display: none;
    }
    .menu {
        display: block;
        margin: 0 18px;
    }
    .navbar-left img {
        margin: 0 auto;
    }
}
